
.products-preview{
    position: fixed;
    z-index: 9999;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    margin:2rem;
    width: 40rem;
    height: 900px;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 370px;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top: 3rem; right:41rem;
    cursor: pointer;
    color:black;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
    text-align: left;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .products-preview .preview .fa-times{
      top: 1.6rem;right: 1.3rem;
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 95%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 280px;
      width: 80%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .products-preview .preview .fa-times{
      top: 2rem;right: 1.7rem;
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 95%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 350px;
      width: 80%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .products-preview .preview .fa-times{
      top: 2rem;right: 3rem;
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 95%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 450px;
      width: 80%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .products-preview .preview .fa-times{
      top: 1rem;right: 15.4rem;
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 50%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 270px;
      width: 90%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .products-preview .preview .fa-times{
      top: 16rem;right: 31rem;
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 50%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 460px;
      width: 80%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
}
}
 @media (max-width:800px){
   .products-preview .preview .fa-times{
      top: 2rem; right:2.2rem;
      
   }
   .products-preview .preview{
      display: none;
      padding:2rem;
      text-align: center;
      background: #fff;
      margin:2rem;
      width: 40rem;
      height: 100%;
   }
   .products-preview .preview img{
      height: 210px;
      width: 90%;
      object-fit: cover;
   }
   .products-preview .preview p{
      line-height: 1.5;
      padding:1rem 0;
      font-size: 20px;
      color:#777;
      text-align: left;
   }
 }
 @media (max-width:600px){
   .products-preview .preview .fa-times{
      top: 190px; right:1.1rem;
      
   }
   .products-preview .preview{
      display: none;
      padding:23px;
      text-align: center;
      background: #fff;
      margin: 5px;
      width: 95%;
      height: 90%;
   }
   .products-preview .preview img{
      height: 280px;
      width: 80%;
      object-fit: cover;
   }
   .products-preview .preview .buttons a{
      
      font-size: 1.8rem;
      color:#444;
      border:.1rem solid #444;
   }
   
   .products-preview .preview .buttons a.cart{
      background: #444;
      color:#fff;
   }
 }